@import "../../node_modules/govuk-frontend/govuk/helpers/colour"


$govuk-brand-colour: #FF9900
$govuk-text-colour: #262626
$govuk-footer-text: #f3f2f1
$govuk-footer-bg: #262626
$govuk-shading: #F9F9F9
$govuk-link-text: #1d70b8


//@media only screen and (min-width: 992px)
//  $govuk-page-width: 960px
/* Extra large devices (large laptops and desktops, 1200px and up) */
//@media only screen and (min-width: 1200px)
//  $govuk-page-width: 1440px
@import "../../node_modules/govuk-frontend/govuk/all"

.govuk-body
  a
    color: $govuk-link-colour
    font-weight: $govuk-font-weight-bold

.govuk-link
    color: $govuk-link-colour !important
    font-weight: $govuk-font-weight-bold

    &:link
      color: $govuk-link-colour !important
      font-weight: $govuk-font-weight-bold

.app-header-nav
  padding-top: 0px
  background-color: #F1F0EF

.govuk-header
  border-bottom: 0px

.govuk-header__navigation
  margin-left: auto
  margin-right: auto
  margin-bottom: 0px
  padding-left: 30px
  padding-right: 30px
  text-color: #1D70B8

.govuk-header__navigation-item
  a
    color: #1D70B8 !important
    text-decoration: none
    padding: 10px
    line-height: 28px !important

    &:hover
      color: #1D3A64 !important
      border-bottom: 5px solid #1D3A64

  .active
    color: #1D3A64 !important
    border-bottom: 5px solid #1D3A64

.js-enabled
  .govuk-header__menu-button
    width: 100%
    display: flex
    text-decoration: none
    justify-content: space-between
    align-items: baseline
    padding: 25px 18px 18px

    &:focus
      background-color: #F1F0EF


.govuk-header__container
  @media (max-width: 640px)
    margin-bottom: -5px

.govuk-header__logo
  width: fit-content
  float: left
  padding-right: 0px

  @media (max-width: 560px)
    display: none

.govuk-header__content
  padding-left: 0px

.govuk-header__link
  &.govuk-header__link--service-name
    font-weight: 300
    font-size: 24px

.govuk-header__divider
  margin-left: 5px
  margin-right: 5px

  @media(max-width: 560px)
    display: none


.app-button
  background: $govuk-brand-colour
  border: 1px solid $govuk-brand-colour
  box-sizing: border-box
  border-radius: 5px
  box-shadow: none
  color: #262626
  font-weight: $govuk-font-weight-bold
  width: 20%
  font-size: 24px

  @media (max-width: 640px)
    font-size: 16px

  &:hover
    background: $govuk-brand-colour

.js-enabled
  .govuk-accordion__open-all
    font-size: 18px

.govuk-cookie-banner
  width: 100%
  content: ""
  display: block
  clear: both

.govuk-header__menu-button
  padding-right: 20px
  visibility: hidden

  @media (max-width: 768px)
    position: unset
    color: #1d70b8
    text-decoration: none
    font-weight: 700
    font-size: 0.875rem
    padding-inline: 20px
    padding-top: 10px
    visibility: visible

.govuk-header__navigation
  background: #F1F0EF
  padding-bottom: 10px
  padding-top: 10px




.govuk-table__head
  font-weight: $govuk-font-weight-bold

.govuk-table
  tr
    td:first-child
      font-weight: $govuk-font-weight-bold

.govuk-cookie-banner
  display: none

.govuk-phase-banner
  padding-top: 10px
  background-color: white
  z-index: 999

hr
  margin-top: 20px
  margin-bottom: 40px

.app-header
  top: 0px
  width: 100%
  z-index: 999

.app-body
  padding-top: 6px

  @media (max-width: 768px)
    padding-top: 6px

.app-sidebar
  .govuk-heading-m
    border-top: 5px solid $govuk-brand-colour
    padding-top: 10px

.app-block
  padding-top: 20px
  padding-bottom: 20px

  @media (max-width: 870px)
    padding-top: 20px
    padding-bottom: 0px


.app-stepper-header
  padding: 0
  display: flex
  list-style-type: none
  justify-content: center
  align-items: center
  box-sizing: border-box

  li
    display: flex
    flex-direction: row
    border: 1px solid #262626
    border-radius: 10px
    height: 60px
    align-items: center
    justify-content: center

    &.step-selected
      background-color: $govuk-brand-colour
      border: unset

    a
      font-size: $govuk-root-font-size
      font-family: $govuk-font-family
      font-weight: $govuk-font-weight-bold
      color: $govuk-text-colour
      text-decoration: none
      max-width: 150px
      padding: 0 20px
      text-align: center

  img
    margin: auto 20px

.app-table-of-contents
  li
    list-style-type: "\2014"
    font-weight: $govuk-font-weight-bold
    padding-left: 10px

/* The app-dropdown container */
.app-dropdown
  text-decoration: none

  &:after
    content: '\25ba'
    padding-left: 0.5em

  &:hover
    content: '\25bc'
    padding-left: 0.5em


/* app-dropdown content (hidden by default) */
.app-dropdown-content
  display: none
  position: absolute
  background-color: #ffffff
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
  z-index: 1


/* Links inside the app-dropdown */
.app-dropdown-content
  a
    float: none
    color: $govuk-link-colour !important
    padding: 12px 16px
    display: block
    text-align: left

/* Show the app-dropdown menu on hover */
.app-dropdown:hover
  .app-dropdown-content
    display: block

.app-story
  background-color: white

  .app-story-image-1
    display: flex
    align-items: center
    flex-direction: row
    justify-content: space-between

    @media (max-width: 870px)
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center

.app-story-image-2
    display: flex
    align-items: center
    flex-direction: row
    justify-content: space-between

    @media (max-width: 870px)
      display: flex
      flex-direction: column-reverse
      justify-content: space-between
      align-items: center

    .app-rich-text p
      padding-right: 40px
      font-size: 36px
      max-width: 400px

      @media (max-width: 640px)
        font-size: 18px

      @media (min-width: 640px)
        font-size: 36px

      @media (min-width: 960px)
        font-size: 48px

.app-advice
  background-color: white

  .app-advice-with-image-1
    display: flex
    align-items: center
    flex-direction: row
    justify-content: space-between

    @media (max-width: 870px)
      flex-direction: column-reverse

  .app-advice-with-image-2
    display: flex
    align-items: center
    flex-direction: row
    justify-content: space-between

    @media (max-width: 870px)
      flex-direction: column

    .app-rich-text p
      padding-right: 40px
      font-size: 36px
      max-width: 400px

      @media (max-width: 640px)
        font-size: 18px

      @media (min-width: 640px)
        font-size: 36px

      @media (min-width: 960px)
        font-size: 48px

.call-out-border-left
  padding: 40px
  border: 10px solid $govuk-text-colour
  border-radius: 40px 40px 40px 0px
  height: 255px
  margin-bottom: 20px
  display: flex
  flex-wrap: wrap
  align-content: space-around

.call-out-border-right
  padding: 40px
  border: 10px solid $govuk-text-colour
  border-radius: 40px 40px 0px 40px
  height: 255px
  margin-bottom: 20px
  display: flex
  flex-wrap: wrap
  align-content: space-around

.app-hero-banner
  display: flex
  align-items: center
  flex-direction: row
  justify-content: space-between

  @media (max-width: 870px)
    flex-direction: column

  .app-rich-text p
    padding-right: 20px
    font-size: 36px
    max-width: 400px

    @media (max-width: 640px)
      font-size: 18px

    @media (min-width: 640px)
      font-size: 36px

    @media (min-width: 960px)
      font-size: 48px

.app-hero-adorner-top
  background-color: #ffbb00
  border-radius: 5px

  @media (max-width: 640px)
    width: 30px
    height: 30px
    transform: translate(calc(316px + 5px), 15px)

  @media (min-width: 640px)
    width: 40px
    height: 40px
    transform: translate(395px, 20px)

  @media (min-width: 960px)
    width: 50px
    height: 50px
    transform: translate(calc(475px - 10px), 25px)

.app-hero-adorner-bottom
  width: 80px
  height: 80px
  background-color: $govuk-brand-colour
  border-radius: 5px

  @media (max-width: 640px)
    width: 60px
    height: 60px
    transform: translate(-10px, -30px)

  @media (min-width: 640px)
    width: 70px
    height: 70px
    transform: translate(-15px, -35px)

  @media (min-width: 960px)
    width: 80px
    height: 80px
    transform: translate(-20px, -40px)

.app-summary
  padding: 20px

.app-columns-wrapper
  padding: 20px 0px 20px 0px

.app-columns
  display: flex
  align-items: flex-start
  flex-direction: row
  justify-content: space-between

  .app-block
    max-width: 350px

    @media (max-width: 640px)
      max-width: unset

  @media (max-width: 640px)
    flex-direction: column

.app-preamble
  max-width: 75%

  .govuk-body
    @include govuk-font($size: 27)
    display: block
    margin-bottom: govuk-spacing(1)
    color: $govuk-secondary-text-colour

.app-image-1
  padding-right: 20px

  @media (max-width: 870px)
    padding: 20px

.app-image-2
  padding-left: 20px

  @media (max-width: 870px)
    padding: 20px