@import "node_modules/govuk-frontend/govuk/helpers/colour"

$govuk-brand-colour: govuk-colour("red")

@import "node_modules/govuk-frontend/govuk/all"

a:link, .govuk-header__navigation-item--active
  color: $govuk-brand-colour !important

hr
  margin-top: 20px
  margin-bottom: 40px

.app-sidebar
  .govuk-heading-m
      border-top: 10px solid $govuk-brand-colour
      padding-top: 10px

.govuk-header__logotype-text
  padding-left: 10px




