<% if !page.heading.nil? %>
<h1 class="govuk-heading-l" style="margin-bottom: 0px !important;"><%= page.heading %></h1>
<% end %>
<% page.blocks.each_with_index do |b, i| %>
  <%= partial "block", :locals => { :block => b, :index => i, :page => page } %>
<% end %>
<% if !page.call_to_actions.nil? %>
  <div>
    <% page.call_to_actions.each do |c| %>
      <%= partial("cta", :locals => { :data => c }) %>
    <% end %>
  </div>
<% end %>
