<div>
  <% if show_title %>
    <h2 class="govuk-heading-l"><%= data.title %></h2>
  <% end %>
  <div>
    <% if !data.advice_body.nil? %>
      <%= markdown(data.advice_body) %>
    <% end %>
  </div>
</div>