<div id="cookie-banner" class="govuk-cookie-banner" data-nosnippet="data-nosnippet" role="region" aria-label="Cookies on teach in further education">
    <div class="govuk-cookie-banner__message govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on teach in further education service</h2>

                <div class="govuk-cookie-banner__content">
                    <p>We use some essential cookies to make this service work.</p>
                    <p>We’d like to set additional cookies to understand how you use Teach in Further Education, remember your settings and improve government services.</p>
                </div>
            </div>
        </div>
        <div class="govuk-button-group">
            <button value="accept" type="button" onclick="window.site.consent.consentAccepted('cookie-banner')" name="cookies" class="govuk-button" data-module="govuk-button">
                Accept cookies
            </button>
            <button value="reject" onclick="window.site.consent.consentRejected('cookie-banner')" type="button" name="cookies" class="govuk-button" data-module="govuk-button">
                Reject cookies
            </button>
            <a class="govuk-link" href="/cookies.html">View cookies</a>
        </div>
    </div>
</div>
