<div class="app-hero-banner">
  <div class="app-rich-text"><%= markdown(data.hero_text) %></div>
  <div>
    <div class="app-hero-adorner-top">&nbsp;</div>
    <%= partial "image", :locals => { :data => data.hero_media } %>
    <div class="app-hero-adorner-bottom">&nbsp;</div>
  </div>
</div>