<div class="app-hero-banner">
  <div class="app-rich-text"><%= markdown(data.hero_text) %></div>
  <div>
    <div class="app-hero-adorner-top" style="--herosize: 400px;">&nbsp;</div>
    <img src="<%= data.hero_media.url + "?w=400" %>" alt="<%= data.description %>"/>
    <div class="app-hero-adorner-bottom">&nbsp;</div>
  </div>
</div>