<div id="<%= data.id %>">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        <%= data.panel_text %>
      </h1>
      <div class="govuk-panel__body">
        <%= data.panel_sub_text %>
      </div>
    </div>
</div>